body {
  margin: 0px;
  background-color: #00ffff;
  vertical-align: baseline;
  line-height: 1;
  font-size: 100%;
}
#intro {
    text-align: center;
    padding-bottom: 5rem;
}

ul {
    list-style: disc;
    margin: 0 0 5rem 0;
    
}

h2 {
   text-align: center;
   background-color: white;
}

h3 {
   
}

#row {
    display: flex;
    padding-bottom: 5rem;
}

#education {
    padding-left: 5rem;
}

#languages {
    padding-left: 10rem;
}

#previousJobs {
   padding-left: 10rem;
}
